<style>

html {
    height: 100%;
    width: 100%;
}

body {
    cursor: url('images/cursor.cur'), default;
    

}

.container {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.top {
    width: 1024px;
    position: -webkit-sticky;
    position: sticky;
    top: -156px;   
}



.bars {
    position: relative;
    width: 1024px;
    top: -32px;
}
    
.chop-container {
    position: -webkit-sticky;
    position: sticky;
    width: 1024px;
    top: 180px;
    
    
}

.middle {
    position: relative;
    height: 800vh;
    width: 1024px;
}

.topsies {
   position: sticky;
   position: -webkit-sticky;
   top: -158px;
   width: 1024px;
   z-index: 0;
   
}

.sidebars {
    background-image:url("images/guillotine/chop-sides-small.png");
    background-repeat: repeat-y;
}

.chop-img {
    position: relative;
    width: 100%;
  
}

.bott {
    position: -webkit-sticky;
    position: sticky;
    top: -320px;
    width: 1024px;

}


.botto-space {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 200vh;
    width: 1024px;
    background-color: black;   
    z-index: 0;

    
}

.landing {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    top: -320px;
    z-index: -2;
    width: 100%;

}
    
.dong {
    position: -webkit-sticky;
    position: sticky;
    top: -48px;
    left: 0px;
    z-index: 99;
    width: 100%;
    margin-top: -308px;
}
    

</style>
